
<div>
<a href="./sites"><input type="button" name="Répondre "value="Afficher les sites"/></a>
<br></br>
<br></br>
<a href="./parts"><input type="button" name="Répondre "value="Afficher les parts"/></a>
</div>